body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.post{
    background: white;
    width: 600px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}

/*Post Title section*/
.header {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
}

.fa-html5 {
    align-self: center;
}

.fa-ellipsis-vertical {
    float: right;
}

.header-left {
    display: flex;
}

.profile {
    font-size: 0.8rem;
    line-height: 0.5rem;
    margin-left: 0.8rem;
}


/*Post img section*/
img{
    width: 100%;
}

/*Post Footer section*/
.icons, .content {
    padding: 2%;
}
.fa-bookmark {
    float: right;
}